.review-img {
  max-width: 68px;
  width: 100%;
  height: 68px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.review-card {
  width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.quote {
  color: #5E6282;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}

.info h4 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  margin-bottom: 4px;
}

.info p {
  font-size: 14px;
  color: #5E6282;
  font-weight: 500;
}

