.step-card_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 22px;
  object-position: bottom;
  margin-bottom: 20px;
}

.card-greece {
  width: 370px;
  height: 400px;
  padding: 20px 24px;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09),
    10px -10px 30px rgba(0, 40, 120, 0.12);
  cursor: pointer;
}

.step-card_text {
  font-size: 18px;
  color: #080809;
  font-weight: 700;
  margin-bottom: 10px;
}

.step-card_subtext {
  font-size: 16px;
  color: #84829a;
  font-weight: 500;
  margin-bottom: 10px;
}

.step-card_list {
  display: flex;
  margin-bottom: 15px;
  gap: 20px;
}

.step-card_people {
  color: #84829a;
  font-weight: 500;
  font-size: 16px;
}

.ri-building-4-line {
  margin-right: 5px;
}

.step-card_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #f5f5f5;
  padding: 8px;
}

.step-card_icon i {
  color: #84829a;
  font-size: 18px;
}

.people-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-like {
    border: 0;
    outline: 0;
    background: none;
    color: #4152CA;
    font-size: 20px;
}
