.form {
  background: #dfd7f9;
  padding: 70px 120px;
  border-radius: 120px 20px 20px 20px;
  margin-bottom: 120px;
  height: 400px;
  position: relative;
  
  
}

.form-inner h2 {
  color: #5e6282;
  font-size: 32px;
  text-align: center;
  font-weight: 700;
}

.form-inner {
    overflow: hidden;
}

.input-box {
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: center;
}

.input-btn {
  padding: 20px 50px;
  background: linear-gradient(to bottom, #ff946d, #ff7d68);
  border: 0;
  outline: 0;
  border-radius: 10px;
  color: #fff;
  
}

.input-box input {
    border-radius: 10px; 
    background: #fff;
    padding: 25px 250px 25px 50px;
    margin-right: 20px;
    border: 0;
    outline: 0;
    font-size: 14px;
    color: #5e6282;
    z-index: 1;
}

.input-box i {
    position: absolute;
    font-weight: 400;
    font-size: 20px;
    top: 24px;
    left: 170px;
    color: #5e6282;
}

.decorate-1 {
    position: absolute;
    right: 0;
    top: 0;
}

.decorate-2 {
    position: absolute;
    left: 0;
    bottom: 0;
}

.telegram {
    position: absolute;
    background: linear-gradient(to bottom, #747DEF, #5E3BE1);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: -20px;
    
}

.telegram i {
    color: #fff;
    font-size: 32px;
}
