.list-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.list-info h4 {
    font-weight: 800;
    font-size: 16px;
    color: #5E6282;
    margin-bottom: 4px;
}

.list-info p {
    font-size: 16px;
    font-weight: 500;
    color: #5E6282;
}
