.swiper-list {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}


.swiper-main {
    width: 500px;
    padding-bottom: 40px;
}

.swiper {
    margin-bottom: 90px;
}

.info-list h3 {
    color: #5E6282;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.info-list h2 {
    color: #14183E;
    font-weight: 800;
    font-size: 50px;
    max-width: 500px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  opacity: 0.6;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #39425D;
  width: 25px;
  border-radius: 10px;
  opacity: 1;
}