.subtitle {
    font-size: 18px;
    font-weight: 800;
    color: #5E6282;
    text-align: center;
    margin-bottom: 6px;
}

.title {
    color: #14183E;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}

.title-box {
    margin-bottom: 60px;
}