.card {
  max-width: 280px;
  height: 314px;
  padding: 20px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 36px;
  gap: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  transition: all 0.3s ease ;
}

.card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card-img {
  width: 50px;
  object-fit: cover;
  margin-bottom: 12px;
}

.card-title {
  font-weight: 600;
  font-size: 20px;
  color: #1e1d4c;
}

.card-subtitle {
  color: #5e6282;
  font-size: 16px;
  line-height: 1.4;
}
