.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    position: relative;
}

.list {
    display: flex;
    gap: 62px;
}

.nav a {
    color: #212832;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}



.login {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 52px;
}

.sign-up {
    padding: 10px 20px;
    border: 1px solid #212832;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 42px;
    background: none;
}
select {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    font-weight: 500;
}
