.card-img_box {
  width: 100%;
  height: 330px;
  border-radius: 24px 24px 0 0;
  overflow: hidden;
  margin-bottom: 15px;
}

.card-img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-city {
  width: 315px;
  height: 450px;
  border-radius: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-city:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.info {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.city-name {
  color: #5e6282;
  font-size: 18px;
  font-weight: 700;
}

.city-price {
  font-size: 18px;
  color: #5e6282;
  font-weight: 700;
}

.trip {
  padding: 0 20px;
  font-size: 16px;
  color: #5e6282;
  font-weight: 600;
}

.ri-map-2-line {
  margin-right: 5px;
}
