.city-list {
    display: flex;
    gap: 35px;
    justify-content: center;
    margin-bottom: 120px;
    position: relative;
} 

.decore-city {
    position: absolute;
    right: 190px;
    z-index: -10;
    top: 70px;
}