@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}



nav,
ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

button {
    cursor: pointer;
    font-size: 16px;
}
